@import url(./media.css);

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 14px;
}

.container {
	width: 94%;
	margin: auto;
}

/* Title */
.title {
	margin-top: 91px;
	overflow: hidden;
	text-align: center;
	color: #888;
	font-size: 18px;
	font-weight: bold;
}
.title:before,
.title:after {
	background-color: #888;
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
.title:before {
	right: 17px;
	margin-left: -50%;
}
.title:after {
	left: 17px;
	margin-right: -50%;
}

/* Header */
header {
	height: 398px;
	border-top: thin solid #707070;
	margin-bottom: 29px;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		4.2deg,
		rgba(255, 255, 255, 1) 26%,
		rgba(112, 112, 112, 1) 26%
	);
}

.box-one {
	color: #fff;
	margin-top: 66px;
}

.box-one h3 {
	font-size: 24px;
	font-weight: normal;
}

.box-one h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 9px;
}

.box-one p {
	font-size: 14px;
	font-weight: normal;
}

.box-two {
	width: 82%;
	margin: 56px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.box-two * {
	cursor: pointer;
}

.box {
	color: #888;
	background: #fff 0% 0% no-repeat padding-box;
	box-shadow: 0px 1px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 4px;
	opacity: 1;
	padding: 12px 0;
	text-align: center;
}

/* Section */

.main-section h2 {
	font-size: 20px;
	color: #888;
	font-weight: normal;
}

.main-section .text {
	font-size: 12px;
	color: #888;
	margin-top: 17px;
}

.main-section .text p:last-child {
	margin-top: 17px;
}

/* Form */
form {
	margin-top: 30px;
}

.form-control label {
	font-size: 12px;
	color: #888;
	display: block;
	margin-bottom: 7px;
	cursor: pointer;
}
.form-control input {
	padding: 6px;
	border: thin solid #888;
	margin-bottom: 20px;
	width: 100%;
}

#radio1,
#radio2 {
	cursor: pointer;
}

.form-control-check {
	display: flex;
}

.form-control-check .check {
	display: flex;
	margin-right: 40px;
}

.check input {
	margin-right: 5px;
}

form .btn {
	width: 100%;
	background-color: transparent;
	color: #888;
	border: thin solid #707070;
	border-radius: 4px;
	padding: 11px 0;
	font-size: 16px;
	cursor: pointer;
}

/* ProductsSection */

.product {
	margin-top: 23px;
	display: flex;
}

.img-div {
	width: 169px;
	height: 129px;
	border: thin solid #707070;
	margin-right: 23px;
}

.price-div {
	color: #888;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 51%;
}

.price-div h4 {
	font-size: 14px;
	font-weight: normal;
}

.price-div .d-pricetag {
	display: none;
	font-size: 12px;
}

.price-div .s-pricetag {
	font-size: 12px;
}
.price-div .b-pricetag {
	font-size: 16px;
	font-weight: bold;
}

.product input {
	width: 100%;
	background-color: transparent;
	color: #888;
	border: thin solid #707070;
	border-radius: 4px;
	font-size: 16px;
	padding: 6px 0;
	cursor: pointer;
}

.btn-product {
	width: 260px;
	display: block;
	margin: 0 auto;
	margin-top: 53px;
	background-color: transparent;
	color: #888;
	border: thin solid #707070;
	border-radius: 4px;
	padding: 11px 0;
	font-size: 16px;
	cursor: pointer;
}

/* FormShare */
.form-share p {
	margin-top: 28px;
	color: #888;
	text-align: center;
	font-size: 14px;
}

.form-share form {
	margin-top: 28px;
}

.form-share .btn-formshare {
	width: 245px;
	display: block;
	margin: 0 auto;
	margin-top: 22px;
	background-color: transparent;
	color: #888;
	border: thin solid #707070;
	border-radius: 4px;
	padding: 11px 0;
	font-size: 16px;
	cursor: pointer;
}

/* Footer */
footer {
	margin-top: 85px;
	height: 158px;
	background: #707070 0% 0% no-repeat padding-box;
	opacity: 1;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	line-height: 1.1rem;
	background: rgb(112, 112, 112);
	background: linear-gradient(
		358deg,
		rgba(112, 112, 112, 1) 70%,
		rgba(255, 255, 255, 1) 70%
	);
}

footer p:nth-of-type(1) {
	margin-top: 71px;
}
