* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 14px;
}

.container {
	width: 94%;
	margin: auto;
}

header {
	height: 398px;
	background: #707070 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	/* transform: skewY(15deg); */
}

/* header .outer-div {
	transform: skewY(-15deg);
} */

.box-one {
	color: #fff;
	margin-top: 66px;
}

.box-one h3 {
	font-size: 24px;
	font-weight: normal;
}

.box-one h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 9px;
}

.box-one p {
	font-size: 14px;
	font-weight: normal;
}

.box-two {
	width: 82%;
	margin: 56px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.box {
	color: #888;
	background: #fff 0% 0% no-repeat padding-box;
	box-shadow: 0px 1px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 4px;
	opacity: 1;
	padding: 12px 0;
	text-align: center;
}

footer {
	margin-top: 100px;
	height: 158px;
	background: #707070 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
	line-height: 1.1rem;
}

footer p:nth-of-type(1) {
	margin-top: 71px;
}
